{% extends 'base.html' %}

{% block content %}
    <h2 class="post-h2">{{ post.title }}</h2>
    <p class="post-author">{{ post.author }}, {{ post.date.strftime('%d.%m.%Y') }}</p>
    <img class="post-image" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="">
    <p class="post-text">{{ post.text }}</p>

    <div class="comment-input-div">
        <p class="comment-form-p">Оставьте комментарий</p>
        <form action="" class="comment-form">
            <textarea class="comment-form-input" name="comment-input" id="comment-input"></textarea>
        </form>
        <input class="comment-form-button" type="submit" value="send">
        
    </div>


    <div class="comments-section">
        <h3>Комментарии</h3>
        {% for comment in post.comments %}
            <div class="post-comment">
                <div class="comment-author">
                    <strong>{{ comment.author }}</strong>
                </div>
                <div class="comment-text">{{ comment.text }}</div>

                {% if comment.replies %}
                    <div class="comment-replies-div">
                        {% for reply in comment.replies %}
                            <div class="reply mb-2">
                                <div class="reply-author">
                                    <strong>{{ reply.author }}</strong>
                                </div>
                                <div class="reply-text">{{ reply.text }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <span class="comment-line"></span>
            </div>
        {% endfor %}
    </div>








{% endblock %}